.place-order:after {
  content: "Buy with confidence.";
  font-size: 0.67em;
  margin-top: 25px;
}

#payment:after {
  content: "MONQ offers an unconditional 30 day money back guarantee!";
  font-size: 0.67em;
  margin-top: 5px;
  margin-bottom: 55px;
  line-height: 1.5em;
}
