.test-accordion-menu {
  width: 90%;
  max-width: 600px;
  background: #fff;
  margin: 0.56rem 0 0.5rem;
  font-size: 1.11rem;
  padding-left: 0;
  list-style: none;
}
.test-accordion-menu ul {
  /* by default hide all sub menus */
  display: none;
  padding-left: 0;
  list-style: none;
}
.test-accordion-menu li {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.test-accordion-menu input[type="checkbox"] {
  /* hide native checkbox */
  position: absolute;
  opacity: 0;
}
.test-accordion-menu label {
  position: relative;
  display: block;
  padding: 18px 18px 18px 0px;
  background: #fff;
  border-bottom: 1px solid #d4dadc;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.test-accordion-menu a {
  position: relative;
  display: block;
  padding: 18px 18px 18px 0px;
  background: #fff;
  border-bottom: 1px solid #d4dadc;
  color: #000 !important;
  font-weight: 600;
}

.test-accordion-menu li a sup {
  font-size: 49%;
}

.test-accordion-menu label {
  cursor: pointer;
}

.test-accordion-menu input[type="checkbox"]:checked + label + ul,
.test-accordion-menu
  input[type="checkbox"]:checked
  + label:nth-of-type(n)
  + ul {
  /* show children when item is checked */
  display: block;
  border-bottom: 1px solid #d4dadc;
}

ul#test-womens-t-shirts,
ul#test-mens-t-shirts,
ul#diffuser-blends {
  border-bottom: none !important;
}

.test-accordion-menu input[type="checkbox"]:checked + label {
  border-bottom: none;
}

.test-accordion-menu ul label {
  background: #fff;
  border-bottom: 1px solid #d4dadc;
  padding-left: 0px;
}

.test-accordion-menu ul a {
  background: #fff;
  padding-left: 0px;
}

.test-accordion-menu li.has-children ul li:last-of-type {
  border-bottom: 1px solid #d4dadc;
}

.test-accordion-menu li.has-children > ul > li:last-of-type,
.test-accordion-menu li.has-children > ul > li > a:last-of-type {
  border-bottom: none;
}

li#test-shop-all {
  border-bottom: 1px solid #d4dadc;
}

.test-accordion-menu ul ul label,
.test-accordion-menu ul ul a {
  padding-left: 20px;
  border-bottom: none;
  font-size: 16px;
}

.test-accordion-menu ul ul ul label {
  padding-left: 40px;
}

.test-accordion-menu ul ul ul a {
  padding-left: 60px;
}

#test-link-beanies {
  padding-left: 40px !important;
}

.test-accordion-menu .fa-angle-right {
  margin-left: 10px;
  color: #000;
  transition: transform 0.5s;
}

.test-accordion-menu input[type="checkbox"]:checked + label i {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.test-accordion-menu.animated label::before {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

a.test-tel {
  border-bottom: none !important;
  font-size: 14px;
  padding-bottom: 0px !important;
}

a#test-mobile-nav-hours {
 margin-top: 0px;
 font-weight: 500 !important;
}

a.test-newsletter-btn {
  border-bottom: 1px solid #000 !important;
}
#test-mobile-nav-account {
  margin-top: 10px;
}

#test-mobile-nav-account a {
  display: inline-block;
  border-bottom: none !important;
  padding-left: 0;
  padding-right: 0;
}
