@media (min-width: 768px) {
  .diffuser-products {
    width: 100% !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .diffuser-products .blends-diffuser {
    height: auto !important;
    width: 60% !important;
    /*-ms-flex-pack: inherit;*/
    -webkit-justify-content: inherit !important;
    justify-content: inherit;

  }

  .diffuser-products .blends-diffuser img {
    transform: none !important;
    margin-top: 0 !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    position: unset !important;
  }
  
  .diffuser-products .blends-diffuser-content {
    width: auto !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-left: 9%;
  }

  .diffuser-products .top-gradient {
    height: 100% !important;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 100% !important;
  }

  .diffuser-products .top-gradient .blends-title {
    bottom: 1.5em !important;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute !important;
    left: 0%;
    width: 92%;
  }

  .diffuser-products .add-cart-product .add_to_cart_inline {
    bottom: 3.222em !important;
  }
}

@media (max-width: 767px) {
  .diffuser-products {
    padding-bottom: 100px !important;
  }

  .diffuser-products .blends-diffuser {
    width: 100% !important;
    height: auto !important;
    /*-ms-flex-pack: center;*/
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: -15px !important;
    position: absolute !important;
    bottom: 100px !important;
  }

  .diffuser-products .blends-diffuser img {
    min-width: unset !important;
    max-width: 90% !important;
    width: auto !important;
    -webkit-transform: none !important;
    transform: none !important;
    transform-origin: none;
    margin-left: 0 !important;
    margin-right: 0;
    position: unset !important;
  }

  .diffuser-products .top-gradient {
    height: 100% !important;
    padding-left: 0px !important;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .diffuser-products .top-gradient .blends-title {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute !important;
    padding-top: 10px;
  }

  .blends-diffuser-content {
    padding-top: 15px !important;
    padding-right: 0px !important;
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-top: 45px;
  }

  .diffuser-products .blends-diffuser-content .diffuser-desc-lists {
    margin-bottom: 10px !important;
    text-align: center;
    width: 100%;
  }

  .diffuser-products .add-cart-product .add_to_cart_inline {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0 !important;
  }
  
  .diffuser-products .add-cart-product .add_to_cart_inline:hover, .diffuser-products .add-cart-product .add_to_cart_inline:focus {
   color: #fff; 
  }

  .diffuser-products .add_to_cart_inline .amount {
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: absolute;
    left: 0;
    height: 27px;
    line-height: 27px;
    width: 32%;
    text-align: right;
    top: 0;
    border-right: 1px solid black;
    bottom: 0;
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: inline-block;
    padding-right: 5%;
    font-size: 16px;
  }

  .diffuser-products .add_to_cart_inline .button,
  .products-grid-box .add_to_cart_inline .button {
    height: 47px !important;
    margin-left: auto !important;
    margin-right: 0;
    width: 100% !important;
  }

.diffuser-products .add_to_cart_inline .button:after, .products-grid-box .add_to_cart_inline .button:after {
font-size: 16rem;
}

  .diffuser-products:not(.outofstock)
    .add_to_cart_inline
    .button.ajax_add_to_cart:after,
  .products-grid-box .add_to_cart_inline .button.ajax_add_to_cart:after {
    content: "Add to Cart" !important;
    width: 57%;
    right: 0px;
    text-align: left;
    font-size: 16px;
    line-height: 1rem;
    left: auto;
  }

}
