#persistent-footer {
  border-top: 1px solid #ccc;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 15;
}

#persistent-footer .community-options {
  background: #fff;
  width: 100%;
  color: #333;
  top: unset;
  display: block;
}

#persistent-footer ul {
  width: 100%;
  display: -ms-inline-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 0;
  padding: 0;
}

#persistent-footer ul li {
  width: auto;
  font-size: 12px;
  padding: 0;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-justify-content: center;
  justify-content: center;
}

#persistent-footer ul li span[class$="-icon"] {
  margin: 0 7px 0 0;
}

/*#persistent-footer ul li a {
  border-left: 1px solid #a9a9a9;
  text-decoration: none;
  display: block;
  padding: 0.85em 0.65em;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

#persistent-footer ul li span {
  font-size: 12px;
  white-space: nowrap;
  font-family: Gotham, Arial, sans-serif;
  color: #333;
}

#persistent-footer ul li:first-child a {
  border: 0 none;
}*/

#persistent-footer a .short-text {
  display: none;
}

#persistent-footer a .long-text {
  display: block;
}

@media only screen and (max-width: 359px) {
  #persistent-footer a .long-text {
    display: none;
  }
  #persistent-footer a .short-text {
    display: block;
  }
}

/*#persistent-footer ul li a i {
  color: #72a9bd;
  font-style: normal;
  speak: none;
  font-size: 20px;
  margin-right: 7px;
  position: unset;
}

#persistent-footer ul li a:focus i {
  color: #fb6418;
}*/

#persistent-footer ul li a:focus span[class$="-icon"] {
  color: #fb6418;
}

@media (max-width: 991px) {
  #testContactModal {
    overflow-y: auto;
  }
}

.modal-title.test {
  font-size: 22px;
  font-weight: 300;
  padding: 0;
}

#testContactModal .b-contactform__prompt {
  display: none;
}

#testContactModal .modal-header {
  text-align: center;
}

#testContactModal .modal-header .close {
  font-weight: 100;
  font-size: 40px;
  /*margin-left: -100px;*/
  opacity: 1;
  color: #7d7d7d;
}

#testContactModal .modal-title {
  line-height: 1.92857em;
}

#testContactModal .b-contactform__form {
  padding-top: 0;
  margin-left: 0;
  height: auto;
}

#testContactModal .b-contactform__reasons {
  padding: 0;
}

#testContactModal .modal-body {
  padding: 20px 25px 30px;
}

#testContactModal .b-contactform__contactinfo input[type="text"],
#testContactModal .b-contactform__contactinfo input[type="tel"],
#testContactModal .b-contactform__contactinfo input[type="email"] {
  width: 100%;
  margin-right: 0;
}

@media (max-width: 1040px) {
  #testContactModal .b-contactform__contactinfo input[type="submit"] {
    max-width: 100%;
    width: 100%;
  }
}

#testContactModal .b-contactform__compliance,
#testContactModal .b-contactform__compliance > * {
  width: auto;
}
