#site-header.headroom--unpinned {
  border-bottom: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.product-add-wrap.test-persistent {
position: fixed !important;
bottom: 25px !important;
left: 20px !important;
right: 20px !important;
z-index: 9999999;
width: auto !important;
background-color: #69639a !important;
border: none !important;
}

.product-add-wrap .price {
border-right: 1px solid #fff !important;
}

.product-add-wrap .amount, .product-add-wrap .woocommerce-Price-currencySymbol, .product-add-wrap .cart:before {
color: #fff !important;
}

#persistent-atc-bg {
width: 100%;
height: 97px;
background: white;
position: fixed;
bottom: 0px;
box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.1);
z-index: -999999;
}

#persistent-atc-bg.test-persistent {
z-index: 999999;
}
