@charset "UTF-8";

label.switch-more-faqs {
  display: none !important;
}

.test-faq-container .container {
  padding-bottom: 25px;
}

.test-faq-container h2 {
  margin-bottom: 34px;
}

.front-faqs ul {
    margin: 0;
    list-style: none;
}

.front-faqs li a {
    color: #000 !important;
    text-decoration: none;
    transition: color .15s;
    -webkit-transition: color .15s;
}

li.more-faqs a {
  display: block;
    margin-bottom: .833em;
    padding: .444em;
    color: #000;
    line-height: 1.8em;
    text-align: center;
    border: 1px solid #000;
}

@media (max-width: 767px)
.front-faqs {
    margin-top: 1.389em;
    width: 100%;
}

.front-faqs li {
  border-bottom: 1px solid #ccc;
  line-height: 1;
  margin: 0;
}

.front-faqs li:first-of-type {
  border-top: 1px solid #ccc;
}

.front-faqs li:last-of-type {
  border-bottom: none;
  margin-top: 35px;
}

.front-faqs li a {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
}

li.more-faqs a {
  line-height: 1;
}

.front-faqs .fa {
  visibility: visible !important;
  color: #000;
  float: right;
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  padding-right: 5px;
}
