@charset "UTF-8";

.test-sticky {
width: 296px;
position: fixed;
top: 0;
padding-top: 1.111em;
}

.test-static {
  width: 296px;
  position: absolute;
  bottom: 410px;
  padding-top: 1.111em;
}

.hide {
  display: none;
}
